<div class="container-fluid">
  <div class="h4 text-center text-primary" id="welcome_text">
    База даних порожня...<br>Створюйте категорії витрат,<br> після цього ви зможете <br>
    додавати операції <br>в привязці до категорій <br>та формувати звіти...
  </div>
  
  <div id="summary_table">
  <div class="w-50 d-block mx-auto">
    <div>
      <%= render "/reports/report_chart", locals: {chart_title: "Всі витрати в розрізі категорій", 
                                          chart_type: "pie", 
                                          chart_legend_visible: true,
                                          chart_number_colors: @category_name.count,
                                          chart_labels: @category_name,
                                          chart_data: @sum_amount
                                          } %>
    </div>
    <table class="table table-striped table-bordered">
      <thead class="table-light">
          <tr>
            <th class="text-center" colspan="2">Загальна статистика</th>          
          </tr>
        </thead>
      <tbody>
        <tr>
          <td class="col-md-2">Кількість категорій</td>
          <td class="col-md-1 text-end"><%= @categories_amount %></td>
        </tr> 
        <tr>
          <td class="col-md-2">Загальна кількість операцій</td>
          <td class="col-md-1 text-end"><%= @operations_amount %></td>
        </tr> 
        <tr>
          <td class="col-md-2">Загальна сума по операціях</td>
          <td class="col-md-1 text-end"><%= sprintf('%.2f', @total_amount) %></td>
        </tr>  
      </tbody>
    </table>    
  </div>
  </div>
</div>

<script>
  var element = document.getElementById("summary_table");
  var operations_amount = '<%= @operations_amount %>';
  if ( operations_amount == 0 ) {
    element.style.display = "none";
    element = document.getElementById("welcome_text");
    element.style.visibility = "visible";
  } else {
    element.style.visibility = "visible";
    element = document.getElementById("welcome_text");
    element.style.display = "none";
  };
</script>