<!-- main form for categories -->
<p style="color: blue"><%= notice %></p>

<div class="h2 text-center text-primary">
  Ведення переліку категорій
</div>
<div>
  Пошук категорії витрат <%= text_field :categories, :name, placeholder: "пошук категорії...", value: cookies[:category_name] %>
</div>
 

<br>
  <table class="table table-striped table-hover">
    <thead class="table-light">
      <tr>
        <th class="col-md-2">Назва категорії</th>
        <th class="col-md-6">Опис</th>
        <th class="col-md-1">Управління</th>
      </tr>
    </thead>
    <tbody>
      <div id="categories">
        <% @categories.each do |category| %>
        <%= render category %>
        <% end %>
      </div>
    </tbody>
  </table>

  <%= paginate @categories %>

<%= link_to "Додати нову категорію", new_category_path, class: "btn btn-outline-primary" %>

<!-- set filter by substring of name of category. Seeking after adding each symbol -->
<script>   
  var inputField = document.getElementById('categories_name');
  inputField.selectionStart = inputField.value.length;
  inputField.selectionEnd = inputField.value.length;
  inputField.focus();

  inputField.addEventListener('input', function(event) {
    document.cookie = "category_name = " + event.target.value;
    window.location.href = "/categories"
  });    
</script>