<div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <!-- elements for setting report parameters -->
        <%= form_tag reports_report_by_category_path, method: :get do %>
          <%= label_tag :category_id, "Категорія операцій:", class: "form-text" %>
          <%= select_tag(:category_id, options_from_collection_for_select(@categories, :id, :name, @category_id), class: "form-select-sm col-md-8") %>
          <%= label_tag :start_date, "Дата початку періоду:", class: "form-text" %>
          <%= date_field_tag :start_date, params[:start_date], class: "form-text" %>
          <%= label_tag :end_date, "Дата кінця періоду:", class: "form-text"%>
          <%= date_field_tag :end_date, params[:end_date], class: "form-text" %>
          <br><br>
          <%= submit_tag "Згенерувати звіт", class: "btn btn-outline-primary" %>
        <% end %>
      </div>
    
      <div class="col-10">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>

<!-- set data for chart -->
<script>
  const ctx = document.getElementById('myChart');

  const data = {
    labels: <%= raw @dates %>,
    datasets: [{
      label: '',
      data: <%= @amount %>,
      backgroundColor: ['blue'],
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {
      responsive: true,
      plugins: {
        legend: {
          display: false
        },
        title: {
          display: true,
          text: 'Витрати по категорії "<%= @categories.where(id: @category_id).first.name %>" за період ' + 
                'з <%= params[:start_date] %> по <%= params[:end_date] %>, ' +
                ' загальна сума по категорії - <%= @total_amount_by_category %> грн.'
        }
      }
    }
  };

  const myChart = new Chart(ctx, config);
</script>

