<div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <!-- elements for setting report parameters -->
        <br><br>
        <%= form_tag reports_report_by_category_path, method: :get do %>
          <%= label_tag :category_id, "Категорія операцій:", class: "form-text" %>
          <%= select_tag(:category_id, options_from_collection_for_select(@categories, :id, :name, @category_id), class: "form-select-sm col-md-8") %>
          <%= label_tag :start_date, "Дата початку періоду:", class: "form-text" %>
          <%= date_field_tag :start_date, params[:start_date], class: "form-text" %>
          <%= label_tag :end_date, "Дата кінця періоду:", class: "form-text"%>
          <%= date_field_tag :end_date, params[:end_date], class: "form-text" %>
          <br><br>
          <%= submit_tag "Згенерувати звіт", class: "btn btn-outline-primary" %>
        <% end %>
      </div>
    
      <div class="col-9">
        <%= render "report_chart", locals: {chart_title: "Витрати по категорії '" + @categories.where(id: @category_id).first.name + "'
                                                         на суму " + sprintf('%.2f',@total_amount_by_category).to_s + " грн.", 
                                            chart_type: "bar", 
                                            chart_legend_visible: false,
                                            chart_number_colors: 1,
                                            chart_labels: @dates,
                                            chart_data: @amount } %>
      </div>
    </div>
  </div>
</div>
