<div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div id="form_area_id">
          <!-- elements for setting report parameters -->
          <br><br>
          <%= form_tag reports_report_by_dates_path, method: :get do %>
            <%= label_tag :start_date, "Дата початку періоду:", class: "form-text" %>
            <%= date_field_tag :start_date, params[:start_date], class: "form-text" %>
            <%= label_tag :end_date, "Дата кінця періоду:", class: "form-text"%>
            <%= date_field_tag :end_date, params[:end_date], class: "form-text" %>
            <br><br>
            <%= submit_tag "Згенерувати звіт", class: "btn btn-outline-primary" %>
          <% end %>
          <br>
          <table class="table table-striped table-hover">
            <thead class="table-light">
              <tr>
                <th class="col-md-4">Категорія</th>
                <th class="col-md-1">Сума</th>
              </tr>
            </thead> 
            <tbody>
              <div id="operations_by_categories">
                <% @operations_by_categories.each do |o| %>
                <tr>
                  <td><%= o[0] %></td>
                  <td class="text-end"><%= sprintf('%.2f', o[1]) %></td>  
                </tr>
                <% end %>
                <tr>
                  <td class="fw-bold">Всього:</td>
                  <td class="fw-bold text-end"><%= sprintf('%.2f', @total_sum_amount_by_date) %></td>
                </tr>
              </div>
            </tbody>
          </table>  
        </div>  
      </div>

      <div class="col-9">
         <%= render "report_chart", locals: {chart_title: "Витрати за період в розрізі категорій", 
                                            chart_type: "pie", 
                                            chart_legend_visible: true,
                                            chart_number_colors: @category_name.count,
                                            chart_labels: @category_name,
                                            chart_data: @sum_amount
                                            } %>
      </div>
    </div>
  </div>


